$winter: #3c84c6;
$spring: #38761c;
$summer: #e69038;
$autumn: #b45f04;
$modelled-dark: gold;
$modelled-light: #fbc02d;
$primary-dark: #bb86fc;
$primary-light: #6200ee;
$error-dark: #cf6679;
$error-light: #b00020;

@use "sass:color";

@font-face {
    font-family: "ACNH";
    font-style: normal;
    font-weight: 400;
    src: url(https://starwort.github.io/nookdata/assets/fonts/humming.ttf)
        format("truetype");
}

.mdc-card.card-winter {
    body[hemisphere="south"] & {
        background-color: $summer;
    }
    body:not([hemisphere="south"]) & {
        background-color: $winter;
    }
    color: #000000;
    color: var(--mdc-theme-text-primary-on-light, #000000);
}

.mdc-card.card-spring {
    body[hemisphere="south"] & {
        background-color: $autumn;
    }
    body:not([hemisphere="south"]) & {
        background-color: $spring;
    }
    color: #000000;
    color: var(--mdc-theme-text-primary-on-light, #000000);
}

.mdc-card.card-summer {
    body[hemisphere="south"] & {
        background-color: $winter;
    }
    body:not([hemisphere="south"]) & {
        background-color: $summer;
    }
    color: #000000;
    color: var(--mdc-theme-text-primary-on-light, #000000);
}

.mdc-card.card-autumn {
    body[hemisphere="south"] & {
        background-color: $spring;
    }
    body:not([hemisphere="south"]) & {
        background-color: $autumn;
    }
    color: #000000;
    color: var(--mdc-theme-text-primary-on-light, #000000);
}

.mdc-card.card-inactive {
    body[theme="dark"] & {
        opacity: 0.3;
    }
    body[theme="light"] & {
        opacity: 0.6;
    }
}

body[theme] .mdc-card.card-current {
    border: 2px solid var(--mdc-theme-error);
}

body {
    text-align: center;
    overflow: overlay;
    font-family: "ACNH", sans-serif;
    --mdc-typography-font-family: "ACNH", sans-serif;
}

main {
    display: inline-block;
    text-align: initial;
}

.month-panels {
    width: 100%;
    & td {
        width: 33%;
        text-align: center;
    }
}

.critter-info {
    text-align: center;
}

.time-tracker {
    width: 100%;
    // background-color: #1e1e1e;
}

.padded-container {
    margin: 16px;
    text-align: center;

    // & > table {
    //     display: inline-block;
    //     text-align: initial;
    // }
}

.critter-table-title {
    & .critter-type {
        &::after {
            content: " - ";
        }
    }
    & .obtained-count {
        color: var(--mdc-theme-primary);
        &::after {
            content: " / 80 ";
        }
    }
    & .modelled-count {
        body[theme="dark"] & {
            color: $modelled-dark;
        }
        body[theme="light"] & {
            color: $modelled-light;
        }
        &::before {
            content: "(";
        }
        &::after {
            content: " / 80)";
        }
    }
    font-size: 1.5em;
    padding-bottom: 16px;
}

.critter-panel {
    text-align: center;
    width: 66px;

    body[theme="light"] & {
        border: 1px solid transparent;
    }

    & i.material-icons {
        display: block;
        padding-top: 16px;
    }

    & img {
        width: 64px;
        height: 64px;
    }

    &.no-match {
        opacity: 0.3;
    }

    body[theme="dark"] &.unavailable {
        background-color: transparentize($error-dark, 0.5);
        color: $error-dark;
        border: 1px solid $error-dark;
    }
    body[theme="light"] &.unavailable {
        background-color: transparentize($error-light, 0.5);
        color: $error-light;
        border: 1px solid $error-light;
    }

    &.obtained {
        body[theme="dark"] & {
            background-color: transparentize($primary-dark, 0.5);
            border: 1px solid $primary-dark;
            color: $primary-dark;
            & + div .mdc-dialog__surface {
                & .mdc-dialog__title {
                    color: $primary-dark;
                }
                border: 1px solid $primary-dark;
            }
        }
        body[theme="light"] & {
            background-color: transparentize($primary-light, 0.5);
            border: 1px solid $primary-light;
            color: $primary-light;
            & + div .mdc-dialog__surface {
                & .mdc-dialog__title {
                    color: $primary-light;
                }
                border: 1px solid $primary-light;
            }
        }
    }
    &.modelled {
        body[theme="dark"] & {
            background-color: transparentize($modelled-dark, 0.5);
            border: 1px solid $modelled-dark;
            color: $modelled-dark;
            & + div .mdc-dialog__surface {
                & .mdc-dialog__title {
                    color: $modelled-dark;
                }
                border: 1px solid $modelled-dark;
            }
        }
        body[theme="light"] & {
            background-color: transparentize($modelled-light, 0.5);
            border: 1px solid $modelled-light;
            color: $modelled-light;
            & + div .mdc-dialog__surface {
                & .mdc-dialog__title {
                    color: $modelled-light;
                }
                border: 1px solid $modelled-light;
            }
        }
    }
}

$cursor-modes: (
    alias,
    all-scroll,
    auto,
    cell,
    context-menu,
    col-resize,
    copy,
    crosshair,
    default,
    e-resize,
    ew-resize,
    grab,
    grabbing,
    help,
    move,
    n-resize,
    ne-resize,
    nesw-resize,
    ns-resize,
    nw-resize,
    nwse-resize,
    no-drop,
    none,
    not-allowed,
    pointer,
    progress,
    row-resize,
    s-resize,
    se-resize,
    sw-resize,
    text,
    w-resize,
    wait,
    zoom-in,
    zoom-out
);

@each $mode in $cursor-modes {
    .cursor-#{$mode} {
        cursor: $mode;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    &-track,
    &-corner {
        background-color: transparent;
    }
    &-thumb {
        background-color: #7f7f7f1f;
        border-radius: 2.5px;
        // transition: background-color 0.2s ease-in-out;
        &:hover {
            background-color: #7f7f7f3f;
        }
        &:active {
            background-color: #7f7f7f7f;
        }
    }
}
