@font-face {
  font-family: "ACNH";
  font-style: normal;
  font-weight: 400;
  src: url(https://starwort.github.io/nookdata/assets/fonts/humming.ttf) format("truetype");
}
.mdc-card.card-winter {
  color: #000000;
  color: var(--mdc-theme-text-primary-on-light, #000000);
}
body[hemisphere=south] .mdc-card.card-winter {
  background-color: #e69038;
}
body:not([hemisphere=south]) .mdc-card.card-winter {
  background-color: #3c84c6;
}

.mdc-card.card-spring {
  color: #000000;
  color: var(--mdc-theme-text-primary-on-light, #000000);
}
body[hemisphere=south] .mdc-card.card-spring {
  background-color: #b45f04;
}
body:not([hemisphere=south]) .mdc-card.card-spring {
  background-color: #38761c;
}

.mdc-card.card-summer {
  color: #000000;
  color: var(--mdc-theme-text-primary-on-light, #000000);
}
body[hemisphere=south] .mdc-card.card-summer {
  background-color: #3c84c6;
}
body:not([hemisphere=south]) .mdc-card.card-summer {
  background-color: #e69038;
}

.mdc-card.card-autumn {
  color: #000000;
  color: var(--mdc-theme-text-primary-on-light, #000000);
}
body[hemisphere=south] .mdc-card.card-autumn {
  background-color: #38761c;
}
body:not([hemisphere=south]) .mdc-card.card-autumn {
  background-color: #b45f04;
}

body[theme=dark] .mdc-card.card-inactive {
  opacity: 0.3;
}
body[theme=light] .mdc-card.card-inactive {
  opacity: 0.6;
}

body[theme] .mdc-card.card-current {
  border: 2px solid var(--mdc-theme-error);
}

body {
  text-align: center;
  overflow: overlay;
  font-family: "ACNH", sans-serif;
  --mdc-typography-font-family: "ACNH", sans-serif;
}

main {
  display: inline-block;
  text-align: initial;
}

.month-panels {
  width: 100%;
}
.month-panels td {
  width: 33%;
  text-align: center;
}

.critter-info {
  text-align: center;
}

.time-tracker {
  width: 100%;
}

.padded-container {
  margin: 16px;
  text-align: center;
}

.critter-table-title {
  font-size: 1.5em;
  padding-bottom: 16px;
}
.critter-table-title .critter-type::after {
  content: " - ";
}
.critter-table-title .obtained-count {
  color: var(--mdc-theme-primary);
}
.critter-table-title .obtained-count::after {
  content: " / 80 ";
}
body[theme=dark] .critter-table-title .modelled-count {
  color: gold;
}
body[theme=light] .critter-table-title .modelled-count {
  color: #fbc02d;
}
.critter-table-title .modelled-count::before {
  content: "(";
}
.critter-table-title .modelled-count::after {
  content: " / 80)";
}

.critter-panel {
  text-align: center;
  width: 66px;
}
body[theme=light] .critter-panel {
  border: 1px solid transparent;
}
.critter-panel i.material-icons {
  display: block;
  padding-top: 16px;
}
.critter-panel img {
  width: 64px;
  height: 64px;
}
.critter-panel.no-match {
  opacity: 0.3;
}
body[theme=dark] .critter-panel.unavailable {
  background-color: rgba(207, 102, 121, 0.5);
  color: #cf6679;
  border: 1px solid #cf6679;
}
body[theme=light] .critter-panel.unavailable {
  background-color: rgba(176, 0, 32, 0.5);
  color: #b00020;
  border: 1px solid #b00020;
}
body[theme=dark] .critter-panel.obtained {
  background-color: rgba(187, 134, 252, 0.5);
  border: 1px solid #bb86fc;
  color: #bb86fc;
}
body[theme=dark] .critter-panel.obtained + div .mdc-dialog__surface {
  border: 1px solid #bb86fc;
}
body[theme=dark] .critter-panel.obtained + div .mdc-dialog__surface .mdc-dialog__title {
  color: #bb86fc;
}
body[theme=light] .critter-panel.obtained {
  background-color: rgba(98, 0, 238, 0.5);
  border: 1px solid #6200ee;
  color: #6200ee;
}
body[theme=light] .critter-panel.obtained + div .mdc-dialog__surface {
  border: 1px solid #6200ee;
}
body[theme=light] .critter-panel.obtained + div .mdc-dialog__surface .mdc-dialog__title {
  color: #6200ee;
}
body[theme=dark] .critter-panel.modelled {
  background-color: rgba(255, 215, 0, 0.5);
  border: 1px solid gold;
  color: gold;
}
body[theme=dark] .critter-panel.modelled + div .mdc-dialog__surface {
  border: 1px solid gold;
}
body[theme=dark] .critter-panel.modelled + div .mdc-dialog__surface .mdc-dialog__title {
  color: gold;
}
body[theme=light] .critter-panel.modelled {
  background-color: rgba(251, 192, 45, 0.5);
  border: 1px solid #fbc02d;
  color: #fbc02d;
}
body[theme=light] .critter-panel.modelled + div .mdc-dialog__surface {
  border: 1px solid #fbc02d;
}
body[theme=light] .critter-panel.modelled + div .mdc-dialog__surface .mdc-dialog__title {
  color: #fbc02d;
}

body[theme] .mdc-card.info-panel {
  display: grid;
  padding: 16px;
  grid: "image dry rain" "image label_found found" "image label_price price" "image label_shadow shadow" "obtained modelled modelled";
}
body[theme] .mdc-card.info-panel img {
  grid-area: image;
  margin: auto;
}
body[theme] .mdc-card.info-panel .dry-indicator {
  cursor: default;
  grid-area: dry;
  color: #e69038;
  font-size: xx-large;
}
body[theme] .mdc-card.info-panel .rain-indicator {
  cursor: default;
  grid-area: rain;
  font-size: xx-large;
}
body[theme] .mdc-card.info-panel .location {
  grid-area: found;
  margin: 0.25em;
}
body[theme] .mdc-card.info-panel .label-location {
  grid-area: label_found;
  margin: 0.25em;
}
body[theme] .mdc-card.info-panel .sell-value {
  grid-area: price;
  margin: 0.25em;
}
body[theme] .mdc-card.info-panel .label-sell-value {
  grid-area: label_price;
  margin: 0.25em;
}
body[theme] .mdc-card.info-panel .shadow-size {
  grid-area: shadow;
  margin: 0.25em;
}
body[theme] .mdc-card.info-panel .label-shadow-size {
  grid-area: label_shadow;
  margin: 0.25em;
}
body[theme] .mdc-card.info-panel .checkbox-obtained {
  grid-area: obtained;
}
body[theme] .mdc-card.info-panel .checkbox-modelled {
  grid-area: modelled;
}

.cursor-alias {
  cursor: alias;
}

.cursor-all-scroll {
  cursor: all-scroll;
}

.cursor-auto {
  cursor: auto;
}

.cursor-cell {
  cursor: cell;
}

.cursor-context-menu {
  cursor: context-menu;
}

.cursor-col-resize {
  cursor: col-resize;
}

.cursor-copy {
  cursor: copy;
}

.cursor-crosshair {
  cursor: crosshair;
}

.cursor-default {
  cursor: default;
}

.cursor-e-resize {
  cursor: e-resize;
}

.cursor-ew-resize {
  cursor: ew-resize;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-help {
  cursor: help;
}

.cursor-move {
  cursor: move;
}

.cursor-n-resize {
  cursor: n-resize;
}

.cursor-ne-resize {
  cursor: ne-resize;
}

.cursor-nesw-resize {
  cursor: nesw-resize;
}

.cursor-ns-resize {
  cursor: ns-resize;
}

.cursor-nw-resize {
  cursor: nw-resize;
}

.cursor-nwse-resize {
  cursor: nwse-resize;
}

.cursor-no-drop {
  cursor: no-drop;
}

.cursor-none {
  cursor: none;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-progress {
  cursor: progress;
}

.cursor-row-resize {
  cursor: row-resize;
}

.cursor-s-resize {
  cursor: s-resize;
}

.cursor-se-resize {
  cursor: se-resize;
}

.cursor-sw-resize {
  cursor: sw-resize;
}

.cursor-text {
  cursor: text;
}

.cursor-w-resize {
  cursor: w-resize;
}

.cursor-wait {
  cursor: wait;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #7f7f7f1f;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #7f7f7f3f;
}
::-webkit-scrollbar-thumb:active {
  background-color: #7f7f7f7f;
}
